streamlit==1.65.0
streamlit-image-coordinates==0.4.1
numpy==2.5.3
pandas==3.0.6
scipy==1.18.1
opencv-contrib-python==5.0.0.93
onnxruntime==1.30.0
rtmlib==0.0.16
torch==2.14.1
torchvision==0.29.1
mmcv-lite==2.2.0
mmengine==0.10.7
mmpretrain==1.2.0
sparsemax==0.1.9
huggingface-hub==2.1.1
plotly==7.1.0
matplotlib==3.11.2
pytest==9.1.1
dm-tree==0.1.10
einshape==1.0
